<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="/public/css/cadastro.css">
    <script src="/public/javascript/cadastro.js" defer ></script>
</head>
<body>
    <h1 id="text">Sucesso!</h1>
    <div id="img">
        <img src="/public/images/icons/success-check-icon.svg" alt="">
    </div>
</body>
   <script>
       alert("Cadastro Feito Com Sucesso!")
   </script>
</html>